
/* Contacto */
.contacto {
    background: linear-gradient(to right, var(--color-1), var(--color-2));
}
.box-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}
.box-container .box {
    height: 8rem;
    width: 10rem;
    text-align: center;
    border-radius: 1rem;
    background: linear-gradient(to top left, var(--color-4),var(--color-3) );
    margin: 1rem;    
}
.box-container .box i {
    height: 3rem;
    width: 3rem;
    line-height: 3rem;
    text-align: center;
    border-radius: 50%;
    color: var(--color-primario);
    background: none;
    font-size: 2rem;
    margin: 1rem 0;

}
.box-container .box i:hover {
    color: var(--color-secundario2);
    background:transparent;
}
.box-container .box h3:hover {
    color: var(--color-secundario) ;
}

/* Agradecimiento */
.agradecimiento{
    background: linear-gradient(to right, var(--color-1), var(--color-2));   
    height: 50px;
}

/*Responsive para Celulares**/
@media (max-width: 750px){
    .box-container .box {
        height: 6rem;
        width: 6rem;   
    }
    h3 {        
        font-size: 12px;
        margin-top: -10px;
    }
}