
/**1) Pagina de inicio*/
.inicio {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicio {
    height: 75vh !important;
    background: url(../image/1.png) no-repeat center;
    background-attachment: fixed;
    background-size: cover;
    text-align: center;
}

.title_i {
    margin-top: 110px;
    margin-bottom: 0px;
    font-size: 50px;
    text-transform: uppercase;
    font-weight: normal;
    font-family: 'Felix Titling', sans-serif;
    color: #fff;
    position: relative;
}

.title_i::after {
    content: '';
    display: block;
    width: 100%;
    height: 3px;
    background-color: #ffae00;
    margin-top: 20px;
    position: absolute;
    bottom: 0;
    left: 0;
}

.slogan{
    margin-top: 5px;
    margin-bottom: 0px;
    font-size: 24px;
    font-weight: normal;
    text-transform: uppercase;
    text-transform: lowercase;
    font-family: 'Fenix', sans-serif;
    color: #fff;
    position: relative;
}

/**Boton*/
.btn-home{
    margin-top: 100px;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 40px;
    border-radius: 20px; /* Hace que las esquinas del botón sean redondeadas */
    color: #fff;
    text-decoration: none;
    background: linear-gradient(to top,  #ff9100, #ffae00);
    transition: all 0.4s ease-in-out; /* Establece una animación de transición suave al pasar el mouse */
}
  
.btn:hover {
    background: none; /* Cambia el color de fondo al pasar el mouse */
    color: #fff; /* Cambia el color de texto al pasar el mouse */
    text-shadow: 0 0 10px #ffae00, 0 0 20px #ffae00; /* Establece dos sombras para lograr el efecto neon */
}  

.btn-home {
    display: flex;
}

.btn-home a {
    margin: 0 0px;
    font-size: 18px;
}