/* Barra de Navegacion */
nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 11; 
    background: linear-gradient(to bottom, var(--color-negro), var(--color-5));
    height: 12%;
}

/* Estilos para los enlaces de navegación */
.enlace {
    position: absolute;
    padding: 5px 50px;
}

.icono_panda {
    height: 10%;
    z-index: 1; 
    position: fixed;
}

nav ul {
    float: right;
    margin-right: 0;
}

nav ul li {
    display: inline-block;
    line-height: 80px;
    margin: 0 20px;
}

nav ul li a {
    color: var(--color-blanco);
    font-size: 16px;
    padding: 15px 15px;
    border-radius: 10px;
    text-transform: uppercase;
    text-decoration: none;
}

li a:hover {
    background: linear-gradient(to bottom, var(--color-1), var(--color-4));
    color: var(--color-primario);
    transition: 1s; 
    text-decoration: none;
}

/* Barra de Navegacion para dispositivos moviles */
.checkbtn {
    font-size: 30px;
    color: var(--color-blanco);
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check {
    display: none;
}

.content {
    position: relative;
}

/*Responsive para Tablet**/
@media (max-width: 952px) {
    nav ul li a {
        font-size: 15px;
        margin-left: -30px;
    }
    .icono_panda {
        margin-right: -20px;
    }
}

/*Responsive para Celulares**/
@media (max-width: 750px) {
    .icono_panda {
        position: absolute; /* Asegura que el icono está posicionado de forma absoluta respecto a su contenedor más cercano posicionado */
        left: 50%; /* Centra el icono horizontalmente */
        transform: translateX(-50%); /* Ajusta finamente la posición del icono para que quede exactamente en el centro */
        top: 10px; /* Ajusta la posición vertical si es necesario */
        height: 60px; /* Ajusta el tamaño del icono para móviles */
    }
    nav {
        height: 80px;
    }
    nav ul {
        position: fixed;
        width: 100%;
        height: 100vh;
        background: linear-gradient(to bottom, var(--color-negro), var(--color-1));
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all 0.5s;
        opacity: 0.98;
        z-index: 1;       
    }
    nav ul li {
        display: block;
        margin: 10px 0;
        line-height: 30px;
    }
    nav ul li a {
        font-size: 20px;
    }
    li a:hover {
        background: none;
        color: var(--color-primario);
    }
    .checkbtn {
        display: block;
    }
    #check:not(:checked) ~ ul {
        position: fixed;
        left: -100%; /* Asegura que el menú está completamente fuera de la pantalla cuando no está activo */
        opacity: 0;
        visibility: hidden; /* Oculta el menú para asegurar que no afecte la interacción con otros elementos */
    }

    #check:checked ~ ul {
        left: 0;
        opacity: 1;
        visibility: visible; /* Muestra el menú cuando el checkbox está marcado */
    }
}
