/* Clients */

.cards{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 20px; /* Espaciado vertical entre filas de tarjetas */
}
.cards .card{
    background: var(--color-5);
    display: flex;
    width: 35%;
    height: 180px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
    margin-right: -160px; /* Ajustar el espaciado horizontal */
    margin-left: -160px; /* Ajustar el espaciado horizontal */
}
.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid var(--color-primario);
    border-radius: 50%;
    display: block;
}
.cards .card > .card-equipo{
    width: 60%;
    color: #fff;
}
.cards .card > .card-equipo p{
    font-weight: 300;
    padding-top: 5px;
}