/* Marco */
.portafolio {
    background: linear-gradient(to right, var(--color-1), var(--color-2));   
    height: 370px;
}

/* Galeria */
.portafolio_c {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3% 12%;
    background: linear-gradient(to right, var(--color-1), var(--color-2));
}
.cuadro_portafolio {
    background: var(--color-5);   
    color: var(--color-blanco);
    text-align: center;
    padding: 20px;
    border-radius: 40px;
    width: 280px;
    height: 220px;
    position: relative; 
}
.galeria-port {
    display: flex;
    justify-content: center; 
    flex-wrap: wrap;
    gap: 10px;
}
.imagen-port {
    width: 15%;
    margin-bottom: 10px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    border-radius: 20%;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, .2);
}
.imagen-port > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}
.hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: var(--color-galeria);
    transition: transform .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20%;
}
.hover-galeria img {
    width: 50px;
}
.hover-galeria p {
    color: var(--color-primario);
}
.imagen-port:hover .hover-galeria {
    transform: scale(1);
}

/*Responsive para Tablet**/
@media (max-width: 952px) {
}

/*Responsive para Celulares**/
@media (max-width: 750px) {
    .portafolio_c {
        flex-direction: column; /* Hace que los hijos de .portafolio_c se apilen verticalmente */
        align-items: center; /* Centra los cuadros en el contenedor para una mejor presentación */
        gap: 10px; /* Reduce o ajusta el espacio entre los cuadros si es necesario */
    }

    .cuadro_portafolio {
        width: 90%; /* Ajusta el ancho de cada cuadro para un mejor ajuste en la pantalla */
        margin-bottom: 20px; /* Agrega espacio entre los cuadros para una mejor separación */
    }
}
