
/**6) Referencias*/
.ref {
    padding-top: none;
    margin-top: 0px;
    background: linear-gradient(to right,  #090f11, #090f11);
    padding-bottom: 0;
}

.ag-text{
    padding: 1px;
    color: #000;
}

.Pie_pagina{
    color: #ffae00;
    margin-bottom: 1px;
}

.pandita {
    width: 450px;
    height: 180px;
    background-color: #fff;
    animation: logoJump 2.5s ease-in-out infinite;
  }
  
@keyframes logoJump {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-30px);
    }
    100% {
      transform: translateY(0);
    }
}

@media (max-width: 768px) {

    .title {
        margin-bottom: 0;
        font-size: 40px;
    }

    .sau {
        height: 100vh;
    }

    .navbar {
        display: none;
    }
   
    
}