/* Servicios */
.servicios {
    background: linear-gradient(to right, var(--color-1), var(--color-2));   
    height: 320px;
}
.info {
    background: var(--color-blanco);   
    height: 260px;
}

/* Cuadro de cotización */
.servicios_cotizar {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 3% 12%;
    background: linear-gradient(to right, var(--color-1), var(--color-2));
}
.cuadro_cotizar {
    background: var(--color-5);
    color: var(--color-blanco);
    text-align: center;
    padding: 50px;
    border-radius: 20px;
    width: 300px;
    height: 250px;
    position: relative; 
}
.cuadro_img, .cuadro_img2 {
    position: relative;
    text-align: center;
    padding: 50px;
    border-radius: 30px;
    width: 320px;
    height: 230px;
    overflow: hidden;
}
.cuadro_img img, .cuadro_img2 img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0;
    transition: opacity 3s ease-in-out;
}
.cuadro_img img.active, .cuadro_img2 img.active {
    opacity: 1;
}
.info_video {
    position: relative;
    text-align: center;
    border-radius: 10px;
    width: 500px;
    height: 300px;
    margin-right: 100px;
}
.btn-about {
    display: flex;
    justify-content: left;
    align-items: center;
    height: 8vh;
    margin-left: 50px;
}
.btn-cotizacion {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 8vh;
}
.btn-cotizacion a {
    font-size: 18px;
}

/* Responsive */
@media (max-width: 952px) {
    .portaservicios_cotizarfolio {        
        height: 120vh;
    }
    .cuadro_cotizar, .cuadro_img, .cuadro_img2 {
        width: 230px;
        height: 290px;
    }
}
@media (max-width: 750px) {
    .servicios {
        background: linear-gradient(to right, var(--color-1), var(--color-2));   
        height: 420px;
    }
    .info {
        background: var(--color-blanco);   
        height: 600px;
    }
    .servicios_cotizar {
        margin-top: 180px;
        margin-bottom: 20px;
        flex-direction: column; 
        height: 550px;        
    }
    .cuadro_cotizar {
        margin-bottom: 20px;  
        width: 250px;
        height: 180px;
    }
    .cuadro_img, .cuadro_img2 {
        margin-bottom: 20px;  
        width: 250px;
        height: 280px;
    }
    .lista_1 {
        display: block; /* Coloca las listas una sobre otra */
    }    
    .lista_1 ul {
        margin: 0; /* Remueve el margen lateral para aprovechar más espacio */
        padding-left: 60px; /* Reduce el padding izquierdo */
        text-align: left; /* Asegura que el texto esté alineado a la izquierda */
    }
    /** Info Extra*/
    .lista_2 {
        display: block; /* Cambia la disposición de flex a block para apilar los elementos verticalmente */
    }

    .info_video {
        width: 100%; /* Asegura que el video se ajuste al ancho del contenedor */
        margin-top: 20px; /* Agrega un espacio entre el texto y el video */
    }

    .btn-about {
        margin-left: 0px;
        margin-top: 20px; /* Asegura espacio entre el texto y el botón */
        justify-content: center; /* Centra el botón en dispositivos móviles */
    }
}
