/*  Colores */
:root {
    --color-primario: #ffb30e;
    --color-secundario: #ffedb3;
    --color-secundario2: #ffda62;
    --color-terciario: #cc7400;
    --color-galeria: #fffffff5;
    --color-negro: #000000;
    --color-blanco: #fff; 
    --color-gris: #ebedffe5;
    --color-1: #131313;
    --color-2: #0f1114;
    --color-3: #20202270;    
    --color-4: #272c31;   
    --color-5: #1c2024e5;    
}

/* Reseteo Global */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    text-decoration: none;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background: linear-gradient(to right, var(--color-1), var(--color-2));
}

/* Texto Generales */
h1, p, a {
    color: var(--color-blanco);
    font-family: 'Roboto', sans-serif;
}

a.parrafo4:visited {
    color: var(--color-blanco);
}

/* Textos */
.titulo_1, .titulo_2, .titulo_3, .titulo_4 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
}

.titulo_1 {
    color: var(--color-primario);
    margin-bottom: -20px;
    font-size: 2rem;
}

.titulo_2 {
    color: var(--color-blanco);
    margin-bottom: -20px;
    font-size: 1.5rem;
}

.titulo_3 {
    text-align: left;
    color: var(--color-blanco);
    margin-bottom: -20px;
    font-size: 1rem;
}

.titulo_4 {
    text-align: left;
    color: var(--color-primario);
    margin-left: 10px;
    font-size: 1.6rem;
    font-weight: bold;
}

.parrafo_1 {
    text-align: center;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 0;
    font-size: 1rem;
}

.parrafo_2 {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    margin-top: 10px;
    font-size: 0.9rem;
}

.parrafo_3, .parrafo_4, .parrafo_5 {
    text-align: justify;
    font-family: 'Roboto', sans-serif;
    margin: 10px 100px;
    font-size: 0.9rem;
}

.parrafo_4 {
    color: var(--color-negro);
    margin: 5px 50px;
}

.parrafo_5 {
    color: var(--color-blanco);
    margin: 25px 10px;
}

/* Listas */
.lista_1, .lista_2, .lista_3 {
    padding: 20px 0;
}

.lista_1 {
    display: flex;
    justify-content: center;
    gap: 80px;
    color: var(--color-gris);
}

.lista_1 ul, .lista_3 ul {
    padding: 0;
    margin: 0;
}

.lista_1 li, .lista_3 li {
    padding: 5px 0;
    text-align: left;
}

.lista_2 {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin: 0 50px;
    color: var(--color-negro);
}

.lista_3 {
    display: flex;
    justify-content: space-evenly;
    gap: 75px;
    margin: 0 auto;
    width: 80%; 
    color: var(--color-blanco);
    list-style: none; 
}

/* CSS - Nosotros */
.sobre-nosotros-image, .center-video {
    display: block;
    margin: 0 auto;
    height: auto;
    max-width: 40%;
}

@media (max-width: 952px) {
    .p_servicios {
        margin: 0 70px;
    }
}

@media (max-width: 750px) {
    .h1_servicios {
        margin: 0 50px;
    }
    .parrafo_1{
        margin-left: 30px;
        margin-right: 30px;
        text-align: justify;
    }
    .parrafo_2{
        margin-top: 0px;
    }  
    .parrafo_4 {        
        margin-left: 5px;
        margin-right: 5px;
        text-align: justify;
    }
    .p_servicios {
        margin: 0 40px;
        margin-bottom: -150px;
    }
    .p_portafolio_f {
        margin: 0 40px;
    }

    .p_nosotros {
        text-align: justify;
        font-family: 'arial', sans-serif;
        margin: 45px;
        font-size: 1rem;
    }

    .center-video, .sobre-nosotros-image {
        max-width: 80%;
    }
}

/* Barra Lateral */
::-webkit-scrollbar {
    width: 15px; 
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-terciario);
}

::-webkit-scrollbar-thumb:hover {
    background-color: var(--color-primario);
}

::-webkit-scrollbar-track {
    background-color: var(--color-negro);
}
