RewriteEngine On

# Para ocultar .html en la URL
RewriteCond %{REQUEST_FILENAME}.html !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ $1.html

#RewriteRule ^([^\.]+)$ $1.html [NC,L]

RewriteEngine On
RewriteCond %{REQUEST_URI} !^/GoldenPanda/html/
RewriteRule ^(nosotros|cotizar|programacion|animacion|publicidad)$ /GoldenPanda/html/$1 [L]
